<footer>
    <div class="container">
        <p> Copyright Dhumm's Bumbling Books</p>
    </div>
</footer>
<!-- Shared Scripts -->
<script src="https://kit.fontawesome.com/71fd51ee86.js" crossorigin="anonymous"></script>
<script type="module" src="/js/main.js"></script>