<dialog class="book-modal">
    <div class="dialog-inner">
    <span class="notification">
        <i class="fa-solid fa-check"></i> 
        <p>Product added to cart successfully!</p>
    </span>
    <button aria-label="close modal" class="close" autofocus><i class="fa-solid fa-xmark"></i></button>
    <div class="image-container">
        <img src="#" class="book__image" alt="book">
    </div>
    <h2 class="title">Title</h1>
    <p class="author"> Author</p>
    <p class="description">Description</p>
    <p class="price"></li>
    <div class="book-buttons">
        <button class="btn btn-basket"> Add to Basket</button>
    </div>
    </div>
</dialog>