<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {
        title: "Dhumm's Bumblign Books - High Quality Books at Great Prices, New Years Sale, 50% Off and More!"
    }) %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
<main>
    <section class="site-title">
        <div class="container">
            <h1 class="site-title__title">Dhumm's Bumbling Books!</h1>
        </div>
        </section>
        <!-- Promotional Banner -->
        <section class="promo-banner">
            <div class="container">
                <div class="promo-banner__text">
                    <h2 class="promo-banner__title"> Read and Discover New Mysteries in 2024 with up to 50% Off! </h2>
                    <a href="/store" class="btn btn--store">Visit Store</a>
                </div>
            </div>
        </section>

        <!-- About Us -->
        <section class="about">
            <div class="container">
                <div class="about__text">
                    <h2 class="about__title"> Where it all started... </h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Modi atque veritatis numquam omnis eaque temporibus doloribus
                        quod? Alias at cupiditate quis similique, fuga voluptatibus, 
                        eveniet, consectetur quisquam enim tenetur earum?</p>
                    <a href="#" class="btn">Visit Store</a>
                </div>
                <div class="about__image">
                    <picture>
                        <source srcset="https://images.pexels.com/photos/3905797/pexels-photo-3905797.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" media="(min-width: 1280px)" />
                        <source srcset="https://images.pexels.com/photos/3905797/pexels-photo-3905797.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" media="(min-width: 600px)" />
                        <img src="https://images.pexels.com/photos/3905797/pexels-photo-3905797.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="An old black and white photograph of our Bookstore in the year 1928, alined along a cobblebrick road." />
                      </picture>
                </div>
            </div>
        </section>
</main>
<%- include('./partials/footer.ejs') %>
<noscript>
    <!-- Show all content if no JS  -->
</noscript>
</body>
</html>