<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {
        title: "Login to your account"
    }) %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
<main>
    <section class="site-title">
        <div class="container">
            <i class="fa fa-user" aria-hidden="true"></i>
            <h1 class="site-title__title">Profile</h1>
        </div>
    </section>
    <div class="container">
       
    </div>
</main>
<%- include('./partials/footer.ejs') %>
<noscript>
    <!-- Show all content if no JS  -->
</noscript>
</body>
</html>