<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {
        title: "Login to your account"
    }) %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
<main>
    <section class="site-title">
        <div class="container">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <h1 class="site-title__title">Register</h1>
        </div>
    </section>
    <div class="container">
        <form class="login-form" autocomplete="off">
            <fieldset>
                <legend class="sr-only"> Register your Account Details </legend>
                
                <div class="login-form__group">
                    <label for="username"> Username </label>
                    <input name="username" id="password" type="text" placeholder="Enter Username..." class="login-form__username" required/>
                    <span class="login-form__error"><i class="fa fa-info-circle" aria-hidden="true"></i>   Please enter a valid username</span>
                </div>
                <div class="login-form__group">
                    <label for="email"> Email </label>
                    <input name="email" id="email" type="email" placeholder="Enter Email.." class="login-form__email" required/>
                    <span class="login-form__error"><i class="fa fa-info-circle" aria-hidden="true"></i>   Please enter a valid password</span>
                </div>
                <div class="login-form__group">
                    <label for="password"> Password </label>
                    <input name="password" id="password" type="password" placeholder="Enter Password.." class="login-form__password" required/>
                    <span class="login-form__error"><i class="fa fa-info-circle" aria-hidden="true"></i>   Please enter a valid password</span>
                </div>
                <div class="button-group">
                    <button class="btn" type="submit"> Submit </button>
                    <p> Already have an account? <a class="link--underline" href="/login">Login</a></button>
                </div>
            </fieldset>
        </form>
    </div>
</main>
<%- include('./partials/footer.ejs') %>
<noscript>
    <!-- Show all content if no JS  -->
</noscript>
</body>
</html>